<!DOCTYPE html>
<html ng-app="demo">
<head>
  <title></title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
</head>
<body ng-controller="DemoController">
<div class="container">
  <div class="header">
    <h3>fm-timepicker</h3>
  </div>
  <div class="row">
    <div class="well">
      <form class="form-horizontal" role="form" name="form" novalidate>
        <div class="form-group" ng-class="{'has-error':form.time.$invalid}">
          <label class="control-label col-sm-2" for="time">Test</label>

          <div class="col-sm-10">
            <fm-timepicker id="time" name="time" ng-model="time" start-time="start" end-time="end" step="step" format="timeFormat"></fm-timepicker>
            <p class="text-danger" ng-show="form.time.$error.time">The selected time is not a valid time understood by fm-timepicker.</p>

            <p class="text-danger" ng-show="form.time.$error.bounds">The selected time does not lie within the specified start and end time.</p>

            <p class="text-danger" ng-show="form.time.$error.step">The selected time does not lie on a time value that would fit the given time step.</p>
          </div>
        </div>
        <hr>

        <div class="form-group">
          <label class="control-label col-sm-2" for="timeFormat">Format</label>

          <div class="col-sm-10">
            <input type="text" id="timeFormat" class="form-control" ng-model="timeFormat">

            <p class="help-block">This format will be used to <a href="http://momentjs.com/docs/#/displaying/format/">render</a> any moment instance that is
              used in fm-timepicker. Try it!</p>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-sm-2" for="startTime">Start</label>

          <div class="col-sm-10">
            <input type="text" id="startTime" class="form-control" ng-model="startTime">
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-sm-2" for="endTime">End</label>

          <div class="col-sm-10">
            <input type="text" id="endTime" class="form-control" ng-model="endTime">

            <p class="help-block">The start and end time are supplied to fm-timepicker as moment instances.</p>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-sm-2" for="stepMinutes">Step (minutes)</label>

          <div class="col-sm-10">
            <input type="text" id="stepMinutes" class="form-control" ng-model="stepMinutes">

            <p class="help-block">fm-timepicker actually supports arbitrary <a href="http://momentjs.com/docs/#/durations/">moment.duration</a> instances as the
              step value. This minute input is just used for convenience in the demo environment.</p>
          </div>

        </div>
      </form>
    </div>
  </div>
</div>

<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular.js"></script>
<script src="//code.jquery.com/jquery-2.0.3.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.0/moment.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src="fm-timepicker.js"></script>
<script>
  angular.module( "demo", ["fm.components"] ).

    controller( "DemoController", function( $scope ) {
                  // Our main parameters for the time picker.
                  // These will primarily be used to populate the scope of this demonstration.
                  $scope.timeFormat = "HH:mm";
                  $scope.startTime = "9:00";
                  $scope.endTime = "18:00";
                  $scope.stepMinutes = 10;

                  // Parameters that will actually be passed into the timepicker.
                  $scope.time = moment( "15:00", $scope.timeFormat );
                  $scope.start = moment( $scope.startTime, $scope.timeFormat );
                  $scope.end = moment( $scope.endTime, $scope.timeFormat );

                  // Watch parameters in our local scope and update the parameters in the timepicker as needed.
                  $scope.$watchCollection( "[startTime, timeFormat]", function( newValues ) {
                    $scope.start = moment( newValues[0], newValues[1] );
                  } );
                  $scope.$watchCollection( "[endTime, timeFormat]", function( newValues ) {
                    $scope.end = moment( newValues[0], newValues[1] );
                  } );
                  $scope.$watch( "stepMinutes", function( newStep ) {
                    $scope.step = moment.duration( parseInt( newStep ), "minutes" );
                  } );
                } );
</script>
</body>
</html>